/**
 Reset Browser specific CSS
 **/

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    background: url('/../assets/weather-app.png') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

body {
    font-size: 1em;
    line-height: 1.2em;
    color: #ffffff;
    text-shadow: 1px 0 2px rgba(0, 0, 0, 0.54);
    font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", "Fira Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header, main, footer {
    display: flex;
    display: flex;
    width: 100vw;
}

header {
  position: fixed;
  height: 54px;
}


/** Header Style **/

header div {
    flex-basis: 40px;
    text-align: center;
    margin: auto;
}

header .menu, header .refresh {
    font-size: 1.4em;
}

/*header .refresh {
    -ms-transform: rotate(90deg);
    /* IE 9
    -webkit-transform: rotate(90deg);
    /* Safari
    transform: rotate(90deg);
}*/

header div.city-info {
    flex-grow: 1;
}



/** Main Style **/
main {
  margin-top: 54px;
}
