/**
 * Style.css
 * @author Sandip Nirmal
 * 20 Dec 2016
 */

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    background: #6c00f6;
    background-image: -moz-linear-gradient(48deg, #6c00f6 15%, #6c00f6 85%);
    background-image: -webkit-linear-gradient(48deg, #6c00f6 15%, #6c00f6 85%);
    background-image: linear-gradient(48deg, #6c00f6 15%, #6c00f6 85%);
    /*background-attachment:fixed;*/
    /*background: url('/../assets/weather-app.png') no-repeat;*/
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    /*background: rgba(0,0,0,.3);*/
}

body {
    max-width: 980px;
    margin: 0 auto;
    color: #ffffff;
    font-size: 1.2em;
    /* Use systems default font */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Open Sans", "Helvetica Neue", sans-serif;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .54);
}

header, main, footer {
    display: flex;
    width: 100vw;
}

header {
    position: fixed;
    height: 66px;
}


/** Header Style **/

header div {
    flex-basis: 40px;
    text-align: center;
    margin: auto;
}

header .menu, header .refresh {
    font-size: 1.3em;
}


.refresh {
    transition: transform 4s linear infinite;
    -webkit-transition: -webkit-transform 4s linear infinite;
    /*-webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;*/
}

.refresh:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


header div.city-info {
    flex-grow: 1;
}

.weather-app {
    width: 100vw;
    max-width: 980px;
    margin: 0 auto;
    /*display: flex;*/
}

.basic-info {
    max-height: 100vh;
    height: 100vh;
    box-sizing: border-box;
    padding: 0.5em 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.city-info {
    text-align: center;
    flex-grow: 1;
}

.city-info .place {
    font-size: 1.2em;
    font-weight: 600;
}

.city-info .time {
    font-size: 0.7em;
    /*font-weight: 600;*/
}

.weather-info {
    padding-left: 2em;
}

.weather-info .w-cond .cond {
    width: 3em;
    height: 3em;
    vertical-align: top;
}

img.cond-code {
    width: 80px;
}

.weather-info .w-cond span {
    line-height: 4em;
}

.weather-info .temp {
    display: flex;
}

.weather-info .temp .temp-min, .weather-info .temp .temp-max {
    flex-basis: 4em;
}

.weather-info .cur-temp span {
    font-size: 5em;
}

.weather-info .cur-temp span sup {
    font-size: .5em;
    line-height: 1em;
    vertical-align: top;
}


/** Details **/

.detailed-info {
    width: 94vw;
    margin: 10px auto;
}

.card {
    background-color: rgba(0, 0, 0, .54);
    padding: 10px;
    margin: 10px auto;
    ;
}

.card .title {
    padding: 4px 0 2px 0;
    border-bottom: 1px solid #e1e1e1;
    font-size: 0.9em;
}


/* Daily forecast */

.daily-forecast {
    display: flex;
    flex-direction: column;
    font-size: 0.85em;
    padding: 4px 0;
    text-shadow: none;
}

.forecast {
    display: flex;
    border-bottom: 1px dotted rgba(255, 255, 255, .12);
    padding: 4px 0;
}

.forecast .forecast-day {
    flex: 2;
}

.forecast .forecast-cond {
    flex: 1;
}

.forecast .forecast-cond img {
    width: 2em;
    margin: auto;
}

.forecast .forecast-temp {
    flex: 1;
}

.forecast .forecast-temp span {
    padding: 4px 6px;
    line-height: 30px;
}


/**
 * Other weather details
 */

.wind-pressure-forecast, .weather-details, .astro-details {
    display: flex;
    font-size: 0.75em;
    padding: 4px 0;
    text-shadow: none;
}

.wind-pressure-forecast .wind-icon, .weather-details .cond-icon {
    flex: 2;
}

.wind-pressure-forecast .details, .weather-details .details, .astro-details .details {
    flex: 3;
    padding: 8px 6px;
}

.astro-details .sun-pos {
    flex: 3;
}

.astro-details .details {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.padding-bottom-border {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    padding-bottom: 4px;
}

.padding-top {
    padding-top: 4px;
}

img.weather-condition-icon {
    width: 100px;
}

.wind-pressure-forecast .wind-icon {
  display: flex;
}

.wind-pressure-forecast .wind-icon img {
  z-index: 0;
}

img.turbine-small {
    width: 50px;
    height: 70px;
    align-self: center;
    position: absolute;
    left: 50px;
    z-index: 0;
}
